<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.matatabi.crudretrofit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA01Y6Y9J-KzWa8vbisZis7H6edCEtIBN8" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReadActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".AddKecamatanActivity" />
        <activity android:name=".ReadKecActivity" />
        <activity android:name=".UpdateKecActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".AddDesaActivity" />
        <activity android:name=".ReadKelActivity" />
        <activity android:name=".UpdateKelActivity" />
        <activity android:name=".ReadLatlngActivity" />
        <activity android:name=".AddLatlngActivity" />
        <activity android:name=".DetailKelActivity" />
        <activity android:name=".UpdateLatLngActivity" />
        <activity
            android:name=".DetailLatlngActivity"
            android:label="@string/title_activity_detail_latlng" />
    </application>

</manifest>